@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width: 20%;
}

/*Header style*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 24px 36px 24px;
    background-color: #9cb9be;
    margin-bottom: 50px;
}

.header-logo{
    font-size: 28px;
    font-weight: 500;
}

.header-links a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 24px;
}

/*Content style*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 50px;
}

.content-title{
    font-size: 48px;
    font-weight: bold;
}

.content-text{
    width: 500px;
    text-align: center;
    font-size: 20px;
}

.container-1{
    display: flex;
    justify-content: center;
    flex: 1;
}


/*Footer style*/
.footer{
    margin-top: auto;
    padding: 16px;
    background-color: #9cb9be;
}

.footer-text{
    font-size: 18px;
    text-align: center;
}